body {
  margin: 0;
  font-family: "Lato", BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  font-size: 1.6rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  font-size: 62.5%;
  box-sizing: inherit;
}

main {
  padding: 1rem 2rem;
  background: #f6f6f6;
  height: 100vh;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20%;
  width: 90%;
  margin: auto;
  margin-top: 10%;
  padding: 5px;
}
